{% extends 'myapp3/base.html' %}

{% block title %}
Просмотр таблицы заказов
{% endblock %}

{% block header %}
<h1>
Просмотр таблицы заказов
</h1>
{% endblock %}

{% block content %}

<div class="text-body text-justify">
    <div>
        <label for="select1">Клиент: </label>
        <select id="select1" name="client_id" class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option value="1">q1</option>
            <option value="2">q2</option>
            <option value="3" selected>q3</option>
            <option value="4">q4</option>
        </select>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">product_id</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <th scope="row">1</th>
                <td scope="row">{{ order.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    {% include 'myapp3/menu.html' %}
</div>

{% endblock %}
